$accent-text: #2A4A5C;
$main-text: #000000;
$minor-text: gray;

$main-accent: #3698FB;
$main-accent-dark: #3772da;

$shadow: rgba(0, 0, 0, 0.15);


$fb:#255A9B; // (кнопка fb)
$li: #0076B6; // (кнопка in)

$gray: #7B8A92;
$light-gray: #96A5B1;
$coffee-gray: #AFAFAF;
$light-coffee-gray: #EEEEEE;
