.header {
  padding: 43px 49px;
  height: 100%;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  flex-grow: 1;
}

@media (max-width: 950px) {
  .header {
    flex-grow: 0;
    width: 270px;
    flex-shrink: 0;
  }
}

@media (max-width: 740px) {
  .header {
    height: 116px;
    width: 100%;
  }
}

.header__logo-link {
  display: block;
}

.header__logo {
  display: block;
  width: 137px;
  height: 30px;
}
